@charset "UTF-8";

.opcaoCarrinho {
  background-color: #E8E8E8;
  border-radius: 10px;
  padding: 10px;
  width: 20%; 
  display: flex;
  flex-direction: column;
  align-items: center; 
  gap: 10px; 
}

.opcaoCarrinho img {
  width: 50px; 
  height: auto;
}

.opcaoCarrinho .texto {
  width: 100%;
  text-align: left;
}

.opcaoCarrinho .texto p {
  margin: 4px 0;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}

.opcoesCarrinhoButtons {
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
}

.opcoesCarrinhoButtons button {
  height: 30px;
  width: 170px;
  margin: 3px 0;
  font-size: 15px;
  border-radius: 10px;
  border: 1px solid black;
  color: #ffffff;
}

.btnRemoveItem {
  background-color: #e53935;
}

.btnRemoveProduto {
  background-color: #b71c1c;
}

.btnRemoveItem:hover {
	transition: 0.2s;
  background-color: #cf4141;
}

.btnRemoveProduto:hover {
	transition: 0.2s;
  background-color: #d50000;
}

.checkboxWrapper {
  display: flex;
  margin-top: 10px;
  align-items: center;
  gap: 5px;
}

.opcoes-finalizacao-carrinho {
  background-color: #E8E8E8;
  border-radius: 10px;
  height: 50px;
  margin-top: -10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.opcoes-finalizacao-carrinho button{
  height: 40px;
	width: 200px;
  font-size: 18px;
	border-radius: 10px;
  border: 1px solid #ffffff;
	color: #ffffff;
}

.carrinho-btn-finalizar {
  background-color: #008eb6;
  margin-left: 35px;
}

.carrinho-btn-finalizar:hover {
  background-color: #84afd3;
	transition: 0.2s;
}

.carrinho-btn-cancelar {
  background-color: #FF0000;
  margin-left: 50%;
}

.carrinho-btn-cancelar:hover {
  transition: 0.3s;
  background-color: #BD2130;
}