.opcao-pedido-historico {
	background-color: #d6d5d5;
  width: 28%;
  display: flex;
	align-items: center;
	justify-content: center;
  flex-direction: column;
  margin: 5px;
  white-space: nowrap;
  border-radius: 10px;
  font-size: 17px;
}

.opcao-pedido-historico-text p {
  margin-bottom: 6px;
  margin-top: 5px;
}

.opcao-pedido-historico-botoes-abrir-detalhes {
  height: 30px;
  width: 170px;
  background-color: #008eb6;
  color: #ffffff;
  margin: 15px;
	border-radius: 10px;
  font-size: 17px;
  border: 1px solid #008eb6;
}

.opcao-pedido-historico-botoes-abrir-detalhes:hover {
  transition: 0.5s;
  background-color: #017b9c;
  border: 1px solid #ffffff;
}

.modal{
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}

.modal-content {
  background-color: #fff;
  margin: 10% auto;
  padding: 30px;
  width: 28%;
  max-height: 45vh;
  position: relative;
  border-radius: 8px;
  overflow-y: scroll;
}

.close-btn {
  position: absolute;
  top: 15px;
  color: black;
  right: 20px;
  font-size: 24px;
  cursor: pointer;
}

.step {
  display: none;
  color: black;
}

.step.active {
  display: block;
}

.modal-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.modal-buttons-progress {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.modal-buttons-regress {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  padding-left: 10px;
}

.next-btn,
.finish-btn,
.prev-btn {
  height: 35px;
  width: 100px;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: #ffff;
  border: 1px solid #ffff;
  border-radius: 25px;
  cursor: pointer;
}

.next-btn {
  background-color: #03A9F4;
}

.prev-btn {
  background-color: #6B7280;
}

.finish-btn {
  background-color: #FF0000;
}

.prev-btn:hover {
  transition: 0.3s;
  background-color: #9E9E9E;
}

.next-btn:hover  {
  transition: 0.3s;
  background-color: #036499;
}

.finish-btn:hover {
  transition: 0.3s;
  background-color: #BD2130;
}

.content-step-confirmacao {
  height: 100px;
  margin-top: 25px;
}

.content-step-confirmacao-produto {
  background-color: #c9c9c9;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: 8px;

}

.content-step-confirmacao-produto-paragrafo {
  align-items: flex-start;
  justify-content: flex-start;
  margin: 3px;
}

.detalhes-principais {
  
}